@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #006947;
  --color-on-primary: #ffffff;
  --color-primary-container: #00855b;
  --color-on-primary-container: #f5fff6;
  --color-primary-fixed: #8bf8c3;
  --color-inverse-primary: #6fdba8;

  --color-surface: #f8faf8;
  --color-on-surface: #191c1b;
  --color-surface-variant: #e1e3e1;
  --color-on-surface-variant: #3e4942;
  --color-surface-container-high: #e6e9e7;
  --color-surface-container-low: #f2f4f2;
  --color-surface-container-lowest: #ffffff;

  --color-background: #f8faf8;
  --color-on-background: #191c1b;

  --color-outline: #6e7a72;
  --color-outline-variant: #bdcac0;
}

@layer base {
  :root {
    color-scheme: light;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
  }
}

@layer utilities {
  .icon-filled {
    font-variation-settings: 'FILL' 1;
  }
}
